---
import pic from "../assets/qibarnew.svg";
---

<div class="flex h-fit">
	<div class="hero">
		<div class="flex-col justify-items-center">
			<div class="foto-gw -mb-30">
				<img src={pic.src} class="h-80">
			</div>
			<div>
				<h1
					class="nama-gw text-2xl text-center font-bold lg:text-5xl md:text-3xl"
				>
					Muhammad Riz<span class="text-primary">qi</span> Ak<span
						class="text-primary">bar</span
					> Rabbani
				</h1>
				<p class="nama-gw-sub text-center mt-2">is a</p>
				<div
					class="title-sub w-full h-15 overflow-hidden no-scrollbar my-5"
				>
					<ul
						class="text-list text-5xl font-bold flex flex-col items-center gap-5"
					>
						<li class="text-pink-300">Designer</li>
						<li class="text-yellow-100">Educator</li>
						<li class="text-blue-200">Programmer</li>
					</ul>
				</div>
				<p class="desc-sub text-center">
					A Software Instructor and UI Designer proficient in
					Front-End/Back-End programming, specializing in creating
					interactive designs with Figma and creative visuals using
					CorelDRAW, while employing a structured, learner-centric
					teaching style.
				</p>
			</div>
		</div>
	</div>
</div>
