@import "tailwindcss";
@plugin "daisyui"{
    themes: corporate --default, luxury --prefersdark;
}; 

/*
Source - https://stackoverflow.com/a/66436651
Posted by Steve O
Retrieved 2025-11-24, License - CC BY-SA 4.0
*/

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
